html{
  display: flex;
  align-items: center;
  
}

body{
  display:flex; 
  flex-direction:column;
  justify-content:center;
  min-height:100vh;
  align-items: center;
  background-image: linear-gradient(indianred, rebeccapurple);
}

.title{
border-radius: 50%;
  background-color: #5d223c;

}

.title h1{
 padding: 50px;
  font-size: 40px;
  border-radius: 50%;
  background-color: #a3245b;
  border:solid 3px;
}

.content h3{
  font-size: 30px;
  text-align: center;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 600px;
  max-width: 65%;
  font-size: 15px;
  margin-bottom:20px;
}

img{
height: 100%;
width: 100%
}
.mcontainer{
  display:flex;
  width: 100%;
  border:solid;
}

.ccontainer{
  background-color: #b37575;
  max-width: 100px;
}

.lcontainer{
  border: solid;
  background-color: #b37575;
}
.lcontainer li{
  font-size: 20px;
}

nav{
  background-color: #300edd;
}
nav a{
  margin-right: 10px;
  color: #d40202;
}

nav a:hover{
  background-color: #3d2e2e
}
textarea{
  height: 200px;
  width: 300px;
  background-color: red;
  color:white;
}

button{
  background-color: blue;
}

.circulo{
  background-color: white;
  height: 300px;
  width: 300px;
clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);

}

.square{
  margin-top: 20px;
  height: 30px;
  width: 30px;
  background-color: white;
}